body { text-align: center }
#content {
    margin: auto auto;
    text-align: left;
    width: 700px;
    color: #2e2e2e;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: left;
}
#menu {
    margin-top: 70px;
    padding-top: 10px;
    color: #000;
    font-size: 14pt;
    padding-bottom: 5px;
    border: 1px #bababa solid;
}
#wrapper {
    padding-top: 40px;
    border-left: 1px #bababa solid;
    border-right: 1px #bababa solid;
    padding-left: 20px;
    padding-right: 20px;
}
#sidetitle {
    color: #000;
    font-size: 14pt;
    padding-right: 20px;
    text-align: right;
    text-transform: lowercase;
}
#sidemenu {
    text-transform: lowercase;
    float: left;
    padding-left: 20px;
}
sup { line-height: 1px }
h1 {
    color: #000;
    font-weight: normal;
    font-size: 24pt;
    clear: both;
}
#table-of-contents {
    font-size: 12pt;
    line-height: 180%;
    margin-bottom: 30px;
    overflow: auto;
}
#table-of-contents h2 { display: none }
#table-of-contents ul {
    display: inline;
    margin: 0;
    padding: 0;
}
#table-of-contents ul li {
    list-style-type: none;
    /*display: inline;*/
}
#table-of-contents ul li a {
    text-decoration: none;
    margin: 3px;
    color: #000;
    padding: 0 0.5em;
    /*float: left;*/
    background-color: #fff;
    white-space: nowrap;
}
#table-of-contents ul li a:hover {
    background-color: #a2b5cd;
    color: #000;
}
#table-of-contents ul li ul { font-size: 11pt }
#table-of-contents ul li ul li a {
    color: #000;
    background-color: #fff;
    margin-left: 30px;
}
#table-of-contents ul li ul li a:hover {
    Background-color: #bcd2ee;
}
#table-of-contents ul li ul li ul { font-size: 9pt }
#table-of-contents ul li ul li ul li a {
    color: #000;
    background-color: #e0eeee;
}
.title {
    text-align: left;
    margin-bottom: 15px;
}
hr {
    border: 0;
    height: 1px;
    color: #bababa;
    background-color: #bababa;
}
h2 {
    font-size: 14pt;
    color: #000;
    clear: both;
    padding-bottom: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #bababa;
}
h3 {
    font-size: 12pt;
    color: #000;
}
h4 { font-size: 11pt }
a {
    text-decoration: none;
    color: #4a708b;
}
a:hover { text-decoration: underline }
.todo { color: #ff0000 }
.done { color: #006666 }
.timestamp-kwd { color: #444 }
.tag {
    color: #000;
    background-color: #fff;
    font-variant: small-caps;
    font-size: 80%;
    font-weight: 500;
}
.timestamp-wrapper { font-size: 80% }
.timestamp { color: #555 }
code { font-size: 10pt }
table { border: 1px solid #bababa }
pre {
    border: 1px solid #555;
    background: #EEEEEE;
    font-size: 9pt;
    padding: 1em;
}
img { border: none }
.share img {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);
}
.share img:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.org-info-search-highlight {
    background-color: #adefef; /* same color as emacs default */
    color: #000000;
    font-weight: bold;
}
.org-bbdb-company {
    /* bbdb-company */
    font-style: italic;
}
.org-bbdb-field-name { }
.org-bbdb-field-value { }
.org-bbdb-name {
    /* bbdb-name */
    text-decoration: underline;
}
.org-bold {
    /* bold */
    font-weight: bold;
}
.org-bold-italic {
    /* bold-italic */
    font-weight: bold;
    font-style: italic;
}
.org-border {
    /* border */
    background-color: #000000;
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-weight: bold;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #da70d6;
}
.org-button {
    /* button */
    text-decoration: underline;
}
.org-c-nonbreakable-space {
    /* c-nonbreakable-space-face */
    background-color: #ff0000;
    font-weight: bold;
}
.org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
}
.org-comment {
    /* font-lock-comment-face */
    color: #b22222;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #b22222;
}
.org-constant {
    /* font-lock-constant-face */
    color: #5f9ea0;
}
.org-cursor {
    /* cursor */
    background-color: #000000;
}
.org-default {
    /* default */
    color: #000000;
    background-color: #ffffff;
}
.org-diary {
    /* diary */
    color: #ff0000;
}
.org-doc {
    /* font-lock-doc-face */
    color: #bc8f8f;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #a52a2a;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #7f7f7f;
}
.org-fixed-pitch { }
.org-fringe {
    /* fringe */
    background-color: #f2f2f2;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #0000ff;
}
.org-header-line {
    /* header-line */
    color: #333333;
    background-color: #e5e5e5;
}
.org-help-argument-name {
    /* help-argument-name */
    font-style: italic;
}
.org-highlight {
    /* highlight */
    background-color: #b4eeb4;
}
.org-holiday {
    /* holiday */
    background-color: #ffc0cb;
}
.org-info-header-node {
    /* info-header-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
}
.org-info-header-xref {
    /* info-header-xref */
    color: #0000ff;
    text-decoration: underline;
}
.org-info-menu-header {
    /* info-menu-header */
    font-weight: bold;
}
.org-info-menu-star {
    /* info-menu-star */
    color: #ff0000;
}
.org-info-node {
    /* info-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
}
.org-info-title-1 {
    /* info-title-1 */
    font-size: 172%;
    font-weight: bold;
}
.org-info-title-2 {
    /* info-title-2 */
    font-size: 144%;
    font-weight: bold;
}
.org-info-title-3 {
    /* info-title-3 */
    font-size: 120%;
    font-weight: bold;
}
.org-info-title-4 {
    /* info-title-4 */
    font-weight: bold;
}
.org-info-xref {
    /* info-xref */
    color: #0000ff;
    text-decoration: underline;
}
.org-isearch {
    /* isearch */
    color: #b0e2ff;
    background-color: #cd00cd;
}
.org-italic {
    /* italic */
    font-style: italic;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #a020f0;
}
.org-lazy-highlight {
    /* lazy-highlight */
    background-color: #afeeee;
}
.org-link {
    /* link */
    color: #0000ff;
    text-decoration: underline;
}
.org-link-visited {
    /* link-visited */
    color: #8b008b;
    text-decoration: underline;
}
.org-match {
    /* match */
    background-color: #ffff00;
}
.org-menu { }
.org-message-cited-text {
    /* message-cited-text */
    color: #ff0000;
}
.org-message-header-cc {
    /* message-header-cc */
    color: #191970;
}
.org-message-header-name {
    /* message-header-name */
    color: #6495ed;
}
.org-message-header-newsgroups {
    /* message-header-newsgroups */
    color: #00008b;
    font-weight: bold;
    font-style: italic;
}
.org-message-header-other {
    /* message-header-other */
    color: #4682b4;
}
.org-message-header-subject {
    /* message-header-subject */
    color: #000080;
    font-weight: bold;
}
.org-message-header-to {
    /* message-header-to */
    color: #191970;
    font-weight: bold;
}
.org-message-header-xheader {
    /* message-header-xheader */
    color: #0000ff;
}
.org-message-mml {
    /* message-mml */
    color: #228b22;
}
.org-message-separator {
    /* message-separator */
    color: #a52a2a;
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #0000cd;
}
.org-mm-uu-extract {
    /* mm-uu-extract */
    color: #006400;
    background-color: #ffffe0;
}
.org-mode-line {
    /* mode-line */
    color: #000000;
    background-color: #bfbfbf;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    font-weight: bold;
}
.org-mode-line-highlight { }
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #333333;
    background-color: #e5e5e5;
}
.org-mouse {
    /* mouse */
    background-color: #000000;
}
.org-negation-char { }
.org-next-error {
    /* next-error */
    background-color: #eedc82;
}
.org-nobreak-space {
    /* nobreak-space */
    color: #a52a2a;
    text-decoration: underline;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #0000ff;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #0000ff;
    font-weight: bold;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    background-color: #ffff00;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #0000ff;
}
.org-org-archived {
    /* org-archived */
    color: #7f7f7f;
}
.org-org-code {
    /* org-code */
    color: #7f7f7f;
}
.org-org-column {
    /* org-column */
    background-color: #e5e5e5;
}
.org-org-column-title {
    /* org-column-title */
    background-color: #e5e5e5;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-date {
    /* org-date */
    color: #a020f0;
    text-decoration: underline;
}
.org-org-done {
    /* org-done */
    color: #228b22;
    font-weight: bold;
}
.org-org-drawer {
    /* org-drawer */
    color: #0000ff;
}
.org-org-ellipsis {
    /* org-ellipsis */
    color: #b8860b;
    text-decoration: underline;
}
.org-org-formula {
    /* org-formula */
    color: #b22222;
}
.org-org-headline-done {
    /* org-headline-done */
    color: #bc8f8f;
}
.org-org-hide {
    /* org-hide */
    color: #e5e5e5;
}
.org-org-latex-and-export-specials {
    /* org-latex-and-export-specials */
    color: #8b4513;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #0000ff;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #b8860b;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #a020f0;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #b22222;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #228b22;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #5f9ea0;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #da70d6;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #bc8f8f;
}
.org-org-link {
    /* org-link */
    color: #a020f0;
    text-decoration: underline;
}
.org-org-property-value { }
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #b22222;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #006400;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #a020f0;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #bc8f8f;
}
.org-org-table {
    /* org-table */
    color: #0000ff;
}
.org-org-tag {
    /* org-tag */
    font-weight: bold;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #b8860b;
}
.org-org-todo {
    /* org-todo */
    color: #ff0000;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #b22222;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #7f7f7f;
    text-decoration: underline;
}
.org-org-warning {
    /* org-warning */
    color: #ff0000;
    font-weight: bold;
}
.org-outline-1 {
    /* outline-1 */
    color: #0000ff;
}
.org-outline-2 {
    /* outline-2 */
    color: #b8860b;
}
.org-outline-3 {
    /* outline-3 */
    color: #a020f0;
}
.org-outline-4 {
    /* outline-4 */
    color: #b22222;
}
.org-outline-5 {
    /* outline-5 */
    color: #228b22;
}
.org-outline-6 {
    /* outline-6 */
    color: #5f9ea0;
}
.org-outline-7 {
    /* outline-7 */
    color: #da70d6;
}
.org-outline-8 {
    /* outline-8 */
    color: #bc8f8f;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #da70d6;
}
.org-query-replace {
    /* query-replace */
    color: #b0e2ff;
    background-color: #cd00cd;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    font-weight: bold;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    font-weight: bold;
}
.org-region {
    /* region */
    background-color: #eedc82;
}
.org-rmail-highlight { }
.org-scroll-bar {
    /* scroll-bar */
    background-color: #bfbfbf;
}
.org-secondary-selection {
    /* secondary-selection */
    background-color: #ffff00;
}
.org-shadow {
    /* shadow */
    color: #7f7f7f;
}
.org-show-paren-match {
    /* show-paren-match */
    background-color: #40e0d0;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    color: #ffffff;
    background-color: #a020f0;
}
.org-string {
    /* font-lock-string-face */
    color: #bc8f8f;
}
.org-texinfo-heading {
    /* texinfo-heading */
    color: #0000ff;
}
.org-tool-bar {
    /* tool-bar */
    color: #000000;
    background-color: #bfbfbf;
}
.org-tooltip {
    /* tooltip */
    color: #000000;
    background-color: #ffffe0;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    background-color: #ff0000;
}
.org-type {
    /* font-lock-type-face */
    color: #228b22;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #b8860b;
}
.org-variable-pitch { }
.org-vertical-border { }
.org-warning {
    /* font-lock-warning-face */
    color: #ff0000;
    font-weight: bold;
}
div#postamble {
    text-align: right;
    font-size: 9pt;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0.3em;
    padding-bottom: 1em;
    margin-top: 80px;
    line-height: 50%;
    border-top: 1px dotted #333333;
}
div#postamble-extra { font-size: 9pt }
